section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--main-color);
  box-shadow: 0px 0px 5px 0px var(--main-color);
  gap: 30px;
}

button {
  --_color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  padding: 5px 10px;
  width: 200px;
  box-shadow: 0px 0px 5px 0px transparent;
  transition-property: box-shadow, background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

button:hover {
  box-shadow: 0px 0px 5px 0px var(--_color);
}

button > span {
  font-size: 1rem;
  flex: 1;
}

#btnRecord svg {
  transition-property: transform, fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#btnRecord.playing {
  --_color: rgb(255, 0, 0);
  color: white;
  background-color: var(--_color);
}

#btnRecord.playing svg {
  fill: white;
  transform: rotate(90deg);
}

div#recordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}

div#recordContainer p {
  font-weight: bold;
}

main {
  gap: 10px;
}

div#tableContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: max-content;
  padding: 10px;
}

button#genZip {
  align-self: flex-end;
  --_color: rgb(255, 255, 255);
  background-color: var(--_color);
  width: max-content;
  padding: 5px 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 765px;
}

thead {
  background-color: white;
  color: black;
}

tr {
  border: 1px solid darkgray;
}

tr:nth-child(2) {
  background-color: rgba(153, 153, 153, 0.3);
}

th,
td {
  padding: 8px;
}

td svg.zipFile {
  fill: white;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

td div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

td button,
td svg {
  width: 40px;
  height: 40px;
}

td svg {
  pointer-events: none;
}

button.btnRename {
  --_color: orange;
  background-color: var(--_color);
}

button.btnDelete {
  --_color: red;
  background-color: var(--_color);
}

div#renameContainer,
#nameContainer,
#alertContainer,
#deleteContainer {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

#alertContainer {
  text-align: center;
  gap: 30px;
}

#deleteContainer svg,
#alertContainer svg {
  width: 50px;
  height: 50px;
  fill: rgb(255, 0, 0);
}

#deleteContainer span {
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

div#renameContainer > div,
#deleteContainer > div,
#nameContainer > div,
#alertContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--main-color);
  box-shadow: 0px 0px 5px 0px var(--main-color);
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  gap: 20px;
}

#deleteContainer > div,
#alertContainer > div {
  background-color: rgb(20, 20, 20);
  box-shadow: 0px 0px 5px 0px rgb(20, 20, 20);
}

div#renameContainer input,
#nameContainer input {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 25px;
  padding: 5px;
}

div#renameContainer button,
#deleteContainer button,
#alertContainer button,
#nameContainer button {
  width: max-content;
  padding: 5px 20px;
}

button.confirm {
  background-color: var(--_color);
  color: white;
}

button#confirmRename,
button#confirmName,
#continue {
  --_color: orange;
}

button#confirmDelete {
  --_color: red;
}

div#renameContainer > div > div,
#deleteContainer > div > div,
#alertContainer > div > div,
#nameContainer > div > div {
  display: flex;
  align-self: flex-end;
  gap: 20px;
}
